<div class="row" *ngIf="hero">
  <div class="col-4">
    <h1>Your Profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Information: </strong> You have made changes. Any unsaved changes
      will be lost
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img
        src="{{ hero.photoUrl || './assets/user.png' }}"
        alt="{{ hero.knownAs }}"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{ hero.city }}, {{ hero.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ hero.age }}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{ hero.lastActive }}</p>
        </div>
        <div>
          <strong>Hero Since:</strong>
          <p>{{ hero.createdAt }}</p>
        </div>
      </div>
      <div class="card-footer">
        <button [disabled]="!editForm.dirty" form="editForm" class="btn btn-success btn-block">
          Save Changes
        </button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset class="hero-tabset">
      <tab heading="About {{ hero.knownAs }}">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateHero()">
          <h4>Description</h4>
          <textarea
            class="form-control"
            [(ngModel)]="hero.introduction"
            name="introduction"
            rows="6"
          ></textarea>
          <h4 class="mt-2">Looking for</h4>
          <textarea
            class="form-control"
            [(ngModel)]="hero.lookingFor"
            name="lookingFor"
            rows="6"
          ></textarea>
          <h4 class="mt-2">Interests</h4>
          <textarea
            class="form-control"
            [(ngModel)]="hero.interests"
            name="interests"
            rows="6"
          ></textarea>
          <h4 class="mt-2">Location Details:</h4>
          <div class="form-inline">
            <label for="city">City: </label>
            <input
              [(ngModel)]="hero.city"
              type="text"
              name="city"
              class="firm-control mx-2"
            />
            <label for="country">Country: </label>
            <input
              [(ngModel)]="hero.country"
              type="text"
              name="country"
              class="firm-control mx-2"
            />
          </div>
        </form>
      </tab>
      <tab heading="Edit Photos">
        <app-photo-editor [hero]="hero"></app-photo-editor>
      </tab>
    </tabset>
  </div>
</div>
